<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Welcome to the Good File Uploadr</title>
  </head>
  <body>
    <h1>Welcome to the <strong>GOOD</strong> file uploader</h1>
    <div>
      <form method="POST" enctype="multipart/form-data">
        <div>
          <label>Upload File:</label>
          <input type="file" name="file"></input>
        </div>
        <input type="submit" value="Upload"/>
      </form>
    </div>
  </body>
</html>
